<div class="vente-dialog-popup">
    <mat-card>
        <mat-card-header >
            <h1 style="text-align: center;"><b>{{poste.poste.name}}</b></h1>
        </mat-card-header>
        <mat-card-content>
          <h3><b>Nom de la console :</b> {{poste.console.name}}</h3>
          <hr>
          <mat-form-field style="width: 100%; margin-top: 5px;">
              <mat-select [(ngModel)]="tarif" placeholder="Tarifs">
                <mat-option  *ngFor="let tar of poste.tarifs" [value]="tar"
                             [matTooltip]="">
                  {{tar.hour + 'H ' + tar.minute + 'min' + ' Coût : ' + tar.cost}} </mat-option>
              </mat-select>
          </mat-form-field>
          <div style="text-align: right;">
            <a type="button" (click)="submit()" [disabled]="!tarif" mat-raised-button class="" color="accent">
              Valider
            </a>
          </div>
        </mat-card-content>
    </mat-card>
</div>