<mat-card>
    <mat-card-title>
      <div class="report-title">
        <h1 >Rapport</h1>
      </div>
    </mat-card-title>
    <mat-card-content>
      <div class="report-content">
        <form [formGroup]="form" (ngSubmit)="submit()">
          <div class="report-item">
            <mat-form-field>
              <input formControlName="date_debut"
                     matInput [matDatepicker]="FirstDatepicker" placeholder="Date Début" (click)="FirstDatepicker.open()">
              <mat-datepicker-toggle matSuffix [for]="FirstDatepicker"></mat-datepicker-toggle>
              <mat-datepicker #FirstDatepicker></mat-datepicker>
            </mat-form-field>
            <mat-error *ngIf="form.controls['date_debut'].hasError('required') &&
            form.controls['date_debut'].touched"
                      class="mat-text-warn">Ce champs est requis</mat-error>
          </div>
          <div class="report-item">
            <mat-form-field>
              <input formControlName="date_fin"
                     matInput [matDatepicker]="LastDatepicker" placeholder="Date Fin" (click)="LastDatepicker.open()">
              <mat-datepicker-toggle matSuffix [for]="LastDatepicker"></mat-datepicker-toggle>
              <mat-datepicker #LastDatepicker></mat-datepicker>
            </mat-form-field>
            <mat-error *ngIf="form.controls['date_fin'].hasError('required') &&
            form.controls['date_fin'].touched"
                      class="mat-text-warn">Ce champs est requis</mat-error>
              <mat-error *ngIf="form.controls['date_fin'].hasError('dateError') &&
                      form.controls['date_fin'].touched"
                class="mat-text-warn">la date de fin ne peut être inférieur à la date de début</mat-error>          
          </div>
          <div class="accordion-content" *ngIf="showFilters">
            <mat-accordion>
              <mat-expansion-panel (closed)="false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Filtres
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p style="text-align: center;"><b>Filtrez votre rapport selon les trois options</b></p>
                <br>
                <div class="report-item-2">
                    <mat-select placeholder="Filtrer par"
                    [formControl]="form.controls['filtre_par']">
                        <mat-option  *ngFor="let fbv of filter_by_values" [value]="fbv"
                                    [matTooltip]="fbv">
                          {{fbv}} </mat-option>
                    </mat-select>
                </div>
  
                <div class="report-item-2">
                  <div *ngIf="form.value.filtre_par === 'Console'">
                      <mat-select placeholder="Console"
                      [formControl]="form.controls['filtre_console']">
                          <mat-option  *ngFor="let console of consoles" [value]="console._id"
                                      [matTooltip]="console.name">
                            {{console.name}} </mat-option>
                      </mat-select>
                      <mat-error *ngIf="form.controls['filtre_console'].hasError('required') &&
                        form.controls['filtre_console'].touched"
                                  class="mat-text-warn">Ce champs est requis</mat-error>
                  </div>
                  <div *ngIf="form.value.filtre_par === 'Poste'">
                      <mat-select placeholder="Poste"
                      [formControl]="form.controls['filtre_poste']">
                          <mat-option  *ngFor="let poste of postes" [value]="poste.poste._id"
                                      [matTooltip]="poste.poste.name">
                            {{poste.poste.name}} </mat-option>
                      </mat-select>
                      <mat-error *ngIf="form.controls['filtre_poste'].hasError('required') &&
                        form.controls['filtre_poste'].touched"
                                  class="mat-text-warn">Ce champs est requis</mat-error>
                  </div>
                  <div *ngIf="form.value.filtre_par === 'Utilisateur'">
                      <mat-select placeholder="Utilisateur"
                      [formControl]="form.controls['filtre_user']">
                          <mat-option  *ngFor="let user of users" [value]="user._id"
                                      [matTooltip]="user.username">
                            {{user.lastname + ' ' + user.firstname + ' ' + user.username}} </mat-option>
                      </mat-select>
                      <mat-error *ngIf="form.controls['filtre_user'].hasError('required') &&
                        form.controls['filtre_user'].touched"
                                  class="mat-text-warn">Ce champs est requis</mat-error>
                  </div>
                </div>

              </mat-expansion-panel>
            </mat-accordion>
          </div>
  
          <div class="report-buttons-items">
            <button type="button" mat-raised-button [disabled]="loading" color="warn">
              Annuler<mat-icon>cancel</mat-icon>
            </button>
            <button [disabled]="loading || !form.valid" style="background-color:crimson; color: white;" mat-raised-button type="submit" >
              <mat-progress-spinner mode="indeterminate" class="loading-circle" [diameter]="25"
               [strokeWidth]="2" *ngIf="loading" >
              </mat-progress-spinner>
              Valider <mat-icon>search</mat-icon>
            </button>
          </div>
        </form>
      </div>
    </mat-card-content>
  </mat-card>
  
  