.report-content
{
  width: 100%;
  overflow: hidden;
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 20px;
}

.report-content form
{
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  display: block;
  overflow: hidden;
}

.report-content .report-item
{
  width: 25%;
  float: left;
  margin: 0;
  padding: 0 15px;
  box-sizing: border-box;
  display: block;
  overflow: hidden;
}

.report-content .report-item:first-child
{
  padding: 0 15px 0 0;
}

.report-content .last-item
{
  padding: 0 0 0 15px;
}

.report-item mat-form-field
{
  width: 100%;
  padding: 0;
  margin: 0;
}

.report-content .report-item-2
{
  width: 50%;
  float: left;
  margin: 0 0 20px 0;
  box-sizing: border-box;
  display: block;
  overflow: hidden;
}

.report-content .report-item-2:nth-child(2n+1)
{
  padding: 0 15px 0 0;
}

.report-content .report-item-2:nth-child(2n)
{
  padding: 0 0 0 15px;
}

.report-content .report-buttons-items
{
  width: 100%;
  float: left;
  margin: 0 0 2px 0;
  padding: 0;
  box-sizing: border-box;
  display: block;
}

.report-content .report-buttons-items button
{
  color: #FFFFFF;
  padding: 0 30px !important;
  margin-right: 15px;
}

.report-content .report-buttons-items button mat-icon
{
  margin-left: 5px;
}

.report-content .report-buttons-items button mat-progress-spinner
{
  position: absolute !important;
  top: 5px !important;
  right: 3px !important;
}

.report-content .report-buttons-items button ::ng-deep .mat-progress-spinner circle
{
  stroke: #fff !important;
}

.accordion-content
{
  width: 100%;
  float: left;
  display: block;
  box-sizing: border-box;
  margin: 0 0 20px 0;
  padding: 10px 3px;
}

/*.mat-expansion-panel-header
{
  padding: 2px 20px !important;
}

.mat-expansion-panel
{
  padding: 0 !important;
}

.mat-expansion-panel-header:hover
{
  background-color: rgba(240, 240, 240, 1) !important;
}

::ng-deep .mat-expansion-panel-header
{
  padding: 2px 20px!important;
}*/
