<form [formGroup]="form" (ngSubmit)="submit()">
  <mat-card-content>
    <div fxLayout="column" fxLayoutAlign="space-around">
        <div fxLayout="column" fxLayoutAlign="space-around">
            <div class="pb-1">
              <mat-form-field style="width: 100%">
                <input matInput placeholder="Nom du poste"
                 [formControl]="form.controls['name']">
              </mat-form-field>
              <small *ngIf="form.controls['name'].hasError('required') &&
              form.controls['name'].touched" class="mat-text-warn">
                Ce champs est requis.</small>
              <small *ngIf="form.controls['name'].hasError('minlength') &&
              form.controls['name'].touched" class="mat-text-warn">
                Ce champs doit être de 2 caractères minimum.</small>
            </div>
            <!-- <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Valider</button> -->
        </div>

        <div class="pb-1">
            <mat-form-field style="width: 100%">
                <mat-select placeholder="Console"
                            [formControl]="form.controls['console_id']">
                  <mat-option  *ngFor="let console of consoles" [value]="console._id"
                               [matTooltip]="console.name">
                    {{console.name}} </mat-option>
                </mat-select>
                <mat-error *ngIf="form.controls['console_id'].hasError('required') &&
                 form.controls['console_id'].touched"
                           class="mat-text-warn">Ce champs est requis</mat-error>
            </mat-form-field>
        </div>

        <div class="pb-1">
          <mat-form-field style="width: 100%">
              <mat-select placeholder="Carte"
                          [formControl]="form.controls['board_id']">
                <mat-option  *ngFor="let board of boards" [value]="board._id"
                             [matTooltip]="board.name">
                  {{board.name}} </mat-option>
              </mat-select>
              <mat-error *ngIf="form.controls['board_id'].hasError('required') &&
               form.controls['board_id'].touched"
                         class="mat-text-warn">Ce champs est requis</mat-error>
          </mat-form-field>
        </div>

        <div class="pb-1">
          
            <mat-form-field style="width: 100%">
              <input matInput placeholder="Numéro pin arduino"
               [formControl]="form.controls['arduino_pin']" type="number" >
            </mat-form-field>
            <mat-error *ngIf="form.controls['arduino_pin'].hasError('required') &&
              form.controls['arduino_pin'].touched"
                        class="mat-text-warn">Ce champs est requis</mat-error>
            <mat-error *ngIf="form.controls['arduino_pin'].hasError('pinNotValid') &&
              form.controls['arduino_pin'].touched"
                        class="mat-text-warn">Le Pin n'est pas valide ou il est déjà utilisé
                      </mat-error>  
            <mat-error *ngIf="form.controls['arduino_pin'].hasError('maxlength') &&
                                form.controls['arduino_pin'].touched"
                                          class="mat-text-warn">Longueure invalide</mat-error>                                
        </div>
    </div>
  </mat-card-content>
  <hr>
  <mat-card-actions  *ngIf="formstate === 'create' || formstate === 'edit'">
    <div fxLayout="row wrap">
      <div fxFlex.gt-sm="60" fxFlex.gt-xs="100" fxFlex="100"></div>
      <div fxFlex.gt-sm="40" fxFlex.gt-xs="100" fxFlex="100">
        <a  type="button" mat-raised-button class="" color="accent"
            [routerLink]="['/poste']">
          <mat-icon>clear</mat-icon> Annuler
        </a>
        <button
        mat-raised-button color="primary" type="submit"
        [disabled]="!form.valid || loading" class="organization-submit">
          <mat-icon>done</mat-icon> Valider
          <mat-progress-spinner
            mode="indeterminate"
            class="warn loading-circle"
            *ngIf="loading"
            [diameter]="25" [strokeWidth]="2">
          </mat-progress-spinner>
        </button>
      </div>
    </div>
  </mat-card-actions>
</form>    
