.wizard-content
{
  width: 100%;
  background-color: #fff;
  min-height: 800px;
  box-sizing: border-box;
  display: block;
  padding: 0px;
  margin: 0px;
  border-top: solid 1px rgba(180, 180, 180, 1);
  background-color: #3f51b5 !important;
  color: white !important;
  text-align: center;
}

.local {
    width: 50%;
    height: 150px;
    padding: 5px;
    margin: 0 auto;
    box-sizing: border-box;
    margin-top: 100px;
}