 
<div >
    <div ng-show="!postes.length" style="text-align: center; padding-top: 100px;">
        <h1 style="color:rgb(39, 25, 25);">
            PAS DE POSTES ACTIFS
        </h1>
    </div>
    <div ng-show="postes.length">
        <!-- <h1 style="text-align:  center; color: #3f51b5; text-decoration: underline;">
            <b>
                POSTES - GCM
            </b>
        </h1> -->
        <div style="width: 25%; margin: 0 auto; box-sizing: border-box;">
            <div style="width: 65%; margin: 0 auto; box-sizing: border-box;
                display: inline-block;text-align: center; margin-top: 10px; height: 35px;padding-top: 13px;">
                <h4 ng-show="user != null"> 
                    <strong>
                        {{
                            user.name
                        }}
                    </strong>
                </h4> 
            </div>
            <div ng-click="logout()" style="width: 30%; margin: 0 auto; box-sizing: border-box;
                display: inline-block; cursor: pointer;
                background-color: #f77979; text-align: center; margin-top: 10px; height: 45px;
                border-radius: 7px; padding-top: 13px; color: white;">
                <strong>Déconnexion</strong>
            </div>
        </div>
        <!-- <div style="width: 25%; margin: 0 auto; box-sizing: border-box;
         background-color: #f77979; text-align: center; margin-top: 10px; height: 45px;
         border-radius: 77px; padding-top: 13px;">
            TAMEKLOE koffi
        </div> -->
        <br>
        <div class="container"> 
            <div class="row">
                <div ng-repeat="poste in postes" class="col-md-3" style="padding: 4px;">
                    <div>
                        <!--ng-class="{'end_signal': getEndSignal(poste)}"-->
                    <div >
                        <h4 style="text-align: center;">
                            <b>{{poste.poste.name}}</b>
                            <button type="button" class="btn btn-default" data-container="body" 
                            data-toggle="popover" data-placement="bottom" data-content="Vivamus
                                sagittis lacus vel augue laoreet rutrum faucibus."
                                style="float: right; width: 10px; height: 10px; background-color: #f77979;">
                                 
                            </button>
                            <!-- <label for="check" > </label> -->
                        </h4>
                        <!-- <input type="checkbox" class="togCheck" id="check"/>
                        <div class="togContent">
                            <p>Just some random content here.</p>
                        </div> -->
                            <div class="television-container">
                                <div class="television">
                                    <div class="row">
                                        <div class="col-md-12" style="text-align: center; padding-top: 8px;">
                                              <h1  style="color:#f77979;">
                                                <b ng-show="!poste.time && !poste.tarif">READY !</b>
                                                <b ng-show="!poste.time && poste.tarif">{{poste.tarif.hour + ' : ' + poste.tarif.minute + ' : ' + '00' }} </b>
                                                <b ng-class="{'end_signal': getEndSignal(poste)}" ng-show="poste.time && poste.tarif">{{poste.time}}</b>
                                              </h1>
                                        </div>
                                    </div> 
                                </div>
                                <div class="television-footer-vertical"></div>
                                <div class="television-footer-horizotal"></div>
                            </div>
                            <div  ng-class="{'console-red': ((!poste.time && !poste.tarif) || (!poste.time && poste.tarif)),
                            'console-green': (poste.time && poste.tarif)}"  class="console">
                                  <b>{{poste.console.name}}</b>
                            </div>
                            <!-- <div class="row">
                                <div class="col-md-12" style="text-align: center; padding-top: 5px;">
                                      <h1  style="color:brown; ">
                                        <b ng-show="!poste.time && !poste.tarif">{{'00 : 00 : 00'}} </b>
                                        <b ng-show="poste.time && poste.tarif">{{poste.time}}</b>
                                      </h1>
                                </div>
                            </div>  -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
