<wizard [navBarLocation]="'bottom'" [navBarLayout]="'large-filled'">
  <wizard-step stepTitle="Présentation">
    <div class="centered-content">
      <div class="wizard-content">
        <h1 class="presentation-title">Présentation GCM</h1>
        <div class="presentation-description">
          <p style="text-align: center; color: white;">
            <b>GCM </b> est un logiciel IOT de gestion dynamique de salle de jeu vidéo. <br>
             Elle vous permet la commande automatique des postes de jeu en fonction de vos tarifs. <br>
            Vous avez la possibilité de créér vos consoles, vos tarifs, et vos différents postes de jeu. <br>
            Avec Gcm vous avez la possibilité d'avoir des rapports de vente avec plusieurs
            possibilités de filtre. 
          </p>
          <p style="text-align: center; color: white;">
            Enfin de poursuivre vous devez lire et
            accepter nos termes d'utilisations et de confidentialités du logiciel
          </p>
          <div style="color: white; text-align: center;">
            <mat-checkbox [(ngModel)]="acceptTermes" color="primary"
            >J'ai lu et j'accepte les termes d'utilisations et de confidentialités de GCM</mat-checkbox>
          </div>
        </div>
        <button (click)="showTermes()" mat-raised-button mat-button-sm color="primary" class="previous-step">
          Lire les termes d'utilisations et de confidentialités
        </button>
        <button [disabled]="!acceptTermes" mat-raised-button mat-button-sm color="primary" class="next-step" nextStep>Suivant</button>
      </div>
    </div>
  </wizard-step>
  <wizard-step class="wiz-content" stepTitle="Activation" optionalStep>
    <div class="centered-content">
      <div class="wizard-content">
        <app-activation (onActivationSuccess)="onActivationSuccess($event)" ></app-activation>
        <button *ngIf="activation" mat-raised-button mat-button-sm color="primary" class="next-step" nextStep>Suivant</button>
        <button mat-raised-button mat-button-sm color="primary" class="previous-step" previousStep>Précédent</button>
      </div>
    </div>
  </wizard-step>
  <wizard-step class="wiz-content" stepTitle="Informations">
    <div class="centered-content">
      <div class="wizard-content">
        <app-information (onInformationSuccess)="onInformationSuccess($event)" ></app-information>
        <button *ngIf="information" mat-raised-button mat-button-sm color="primary" class="next-step"  nextStep >Suivant</button>
        <button mat-raised-button mat-button-sm color="primary" class="previous-step" previousStep>Précédent</button>
      </div>
    </div>
  </wizard-step>

  <wizard-step class="wiz-content" stepTitle="Compte">
    <div class="centered-content">
      <div class="wizard-content">
        <app-account  (onAccountSuccess)="onAccountSuccess($event)" ></app-account>
        <button *ngIf="account" mat-raised-button mat-button-sm color="primary" class="next-step" (click)="endWizard()" >Terminer</button>
        <button mat-raised-button mat-button-sm color="primary" class="previous-step" previousStep>Précédent</button>
      </div>
    </div>
  </wizard-step>

</wizard>