<form [formGroup]="form" (ngSubmit)="submit()">
    <mat-card-content>
      <div fxLayout="column" fxLayoutAlign="space-around">
        <div class="pb-1">
          <mat-form-field style="width: 100%">
            <input matInput placeholder="Nom de la console"
             [formControl]="form.controls['name']">
          </mat-form-field>
          <small *ngIf="form.controls['name'].hasError('required') &&
          form.controls['name'].touched" class="mat-text-warn">
            Ce champs est requis.</small>
          <small *ngIf="form.controls['name'].hasError('minlength') &&
          form.controls['name'].touched" class="mat-text-warn">
            Ce champs doit être de 2 caractères minimum.</small>
          <small *ngIf="form.controls['name'].hasError('nameUnique') &&
          form.controls['name'].touched" class="mat-text-warn">
            Ce nom est déjà utilisé.</small>
        </div>
        <!-- <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Valider</button> -->
      </div>
    </mat-card-content>
    <hr>
    <mat-card-actions  *ngIf="formstate === 'create' || formstate === 'edit'">
      <div fxLayout="row wrap">
        <div fxFlex.gt-sm="60" fxFlex.gt-xs="100" fxFlex="100"></div>
        <div fxFlex.gt-sm="40" fxFlex.gt-xs="100" fxFlex="100">
          <a  type="button" mat-raised-button class="" color="accent"
              [routerLink]="['/console']">
            <mat-icon>clear</mat-icon> Annuler
          </a>
          <button
          mat-raised-button color="primary" type="submit"
          [disabled]="!form.valid || loading" class="organization-submit">
            <mat-icon>done</mat-icon> Valider
            <mat-progress-spinner
              mode="indeterminate"
              class="warn loading-circle"
              *ngIf="loading"
              [diameter]="25" [strokeWidth]="2">
            </mat-progress-spinner>
          </button>
        </div>
      </div>
    </mat-card-actions>
</form>    
