<div class="confirm-block">
  <div class="confirm-block-content">
    <h2 style="color: #3f51b5 !important;" text-center><b>Mot de passe</b></h2>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div fxLayout="column" fxLayoutAlign="space-around">
        <div class="pb-1">
          <mat-form-field style="width: 100%">
            <input matInput placeholder="Votre mot de passe" type="password"
             [formControl]="form.controls['password']">
          </mat-form-field>
        </div>
        <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid || loading">Valider</button>
        <button mat-raised-button class="mat-red" type="button" (click)="cancel()" >Annuler</button>
      </div>
    </form>
  </div>
</div>