.poste-img {
    width: 100% !important;
    margin: 0 auto;
    box-sizing: border-box;
}

.console {
    width: 80% !important;
    height: 40px;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: #4caf50;
    border-radius: 6%;
    text-align: center;
    color: white;
    padding-top: 8px;
    margin-bottom: 4px;
}

.poste-block {
    margin-bottom: 20px;
}