::ng-deep .mat-menu-item {
    height: 120px !important;
}

.mat-menu-item > mat-form-field {
    display: block !important;
    height: 60px !important;
}

::ng-deep body .mat-card .mat-card-subtitle {
    margin-bottom: -20px !important;
}

.gri-button {
    background-color: #E1E2E1 !important;
}