<div class="stand-by-block">
  <div class="stand-by-block-content">
    <!-- <h2 style="color: #3f51b5 !important;" text-center><b>REACTIVATION SESSION</b></h2> -->
    <img src="./assets/images/logo.JPG" alt="">
    <h3 style="text-align: center; "><b>{{society}}</b></h3>
    <p text-center>Vous devez entrer votre mot de passe enfin de réactiver votre session.</p>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div fxLayout="column" fxLayoutAlign="space-around">
        <div class="pb-1">
          <mat-form-field style="width: 100%">
            <input matInput placeholder="Votre mot de passe" type="password"
             [formControl]="form.controls['password']">
          </mat-form-field>
          <!-- <small *ngIf="reactivationForm.controls['activationCode'].hasError('required') && 
          reactivationForm.controls['activationCode'].touched" class="mat-text-warn">
            Ce champs est requis.</small> -->
        </div>
        <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Se connecter</button>
        <button mat-raised-button class="mat-red" type="button" (click)="connectToOtherAccount()" >Se connecter avec un autre compte</button>
      </div>
    </form>
  </div>
</div>